<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/head::head"></head>

<body>

<div th:replace="fragments/navbar :: navbar">
    Navbar
</div>

<div th:object="${order}" class="welcomePage jumbotron mt-5 pb-3 mx-auto col-8">
    <h1 class="display-4">Order info</h1>
    <p class="lead">Order id: <span th:text="${order.orderId}"></span></p>
    <p class="lead">Delivery info: Address - <span th:text="${order.address}"></span> | Phone number - <span th:text="${order.clientPhoneNumber}"></span></p>
    <p class="lead">Total cost: <span th:text="${order.totalCost}"></span></p>
    <p class="lead">Status: <span th:text="${order.status}"></span></p>

    <hr class="my-4">

</div>

<div>
    <footer></footer>
</div>
</body>
</html>