<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/head::head"></head>
<body>

<div th:replace="fragments/navbar :: navbar">
    Navbar
</div>

<div th:object="${order}" class="container-fluid col-md-8">

    <h1 class="text-white mt-5">Delivery info</h1>

    <div class="row text-justify">

        <div class="post-frame card card-body mt-3">

            <div th:id="${'postNo' + order.orderId}"
                 class="media align-items-center align-items-lg-start text-center text-lg-left flex-column flex-lg-row">

                <div class="post-header media-body">
                    <h4 class="media-title font-weight-semibold">
                        <th:block th:text="'Order id: ' + ${order.orderId}">Order id</th:block>
                    </h4>

                    <p class="mb-3 post-description" th:text="'Delivery address: ' + ${order.address}">Order address</p>

                    <p class="mb-3 post-description" th:text="'Client phone number: ' + ${order.clientPhoneNumber}">
                        Client phone number</p>

                    <p class="mb-3 post-description" th:text="'Total cost: ' + ${#numbers.formatDecimal(order.totalCost,1,2)} + '$'">Total cost</p>

                    <p class="mb-3 post-description" th:text="'Order status: ' + ${order.status}">Order status</p>
                </div>

            </div>
        </div>

    </div>

    <h2 class="text-white mt-5">Menus</h2>

    <div th:each="item : ${items}" class="row text-justify">
        <div class="post-frame card card-body mt-3">
            <div class="media align-items-center align-items-lg-start text-center text-lg-left flex-column flex-lg-row">

                <div class="post-header media-body">

                    <h5 class="media-title font-weight-semibold">
                        <th:block th:text="${item.menu.name} + ' X ' + ${item.count}">Menu Name</th:block>
                    </h5>

                    <p class="mb-3 post-description" th:text="'Price: ' + ${item.menu.price * item.count}">Menu price</p>

                    <p idclass="mb-3 post-description" th:text="'Restaurant name: ' + ${item.menu.restaurantName}">Restaurant
                        name</p>

                    <p class="mb-3 post-description" th:text="'Restaurant address: ' + ${item.menu.restaurantAddress}">
                        Restaurant address</p>

                </div>

            </div>
        </div>
    </div>

    <ul class="list-inline list-inline-dotted mt-3 mb-3">
        <li class="list-inline-item">
            <a id="orderUpdateButton"
               class="upVoteBtn btn btn-success"
               href="#"
               role="button"
               th:text="${order.status == 'REGISTERED' ? 'Take order' : (order.status == 'ACTIVE' ? 'Update to about to be delivered' : 'Update to delivered')}"
               th:name="${order.status}">Update</a>
        </li>
    </ul>

</div>
<script src="/js/delivery-actions.js"></script>
</body>
</html>