<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/head::head"></head>
<body>

<div th:replace="fragments/navbar :: navbar">
  Navbar
</div>

<div class="container-fluid col-md-8">
  <div class="row text-justify">

    <div th:object="${restaurant}" class="post-frame card card-body mt-3">
      <div th:id="${'postNo' + restaurant.id}" class="media align-items-center align-items-lg-start text-center text-lg-left flex-column flex-lg-row">

        <div class="post-header media-body">
            <h4 class="media-title font-weight-semibold">
              <th:block th:text="${restaurant.name}">Restaurant Name</th:block>
            </h4>

          <ul class="post-details list-inline list-inline-dotted mb-3 mb-lg-2">
            <li class="list-inline-item">
              <p th:text="'Address:' + ${restaurant.address}">Restaurant Address</p>
            </li>
          </ul>

          <p class="mb-3 post-description" th:text="${restaurant.description}">Description</p>

        </div>

      </div>
    </div>

  </div>

<h2 class="text-white mt-5">Menu</h2>

  <div th:each="menu : ${menus}" class="row text-justify">
    <div class="post-frame card card-body mt-3">
      <div class="media align-items-center align-items-lg-start text-center text-lg-left flex-column flex-lg-row">

        <div class="post-header media-body">

          <h5 class="media-title font-weight-semibold">
            <th:block th:text="${menu.name}">Menu Name</th:block>
          </h5>

          <p class="mb-3 post-description" th:text="${menu.description}">Description</p>

          <p th:each="item : ${menu.items}" class="mb-3 post-description" th:text="${item}">Items</p>

          <span class="mb-3 post-description" th:text="'$' + ${menu.price}">Price</span>

          <ul class="list-inline list-inline-dotted mb-0">
            <li class="list-inline-item">
              <a class="upVoteCommentBtn btn btn-sm btn-success"
                 th:href="@{/eataway/restaurants/{restaurantId}/menus/{menuId}/addToCart(restaurantId = ${restaurant.id}, menuId = ${menu.id})}"
                 role="button">Add to cart </a>
            </li>
          </ul>
        </div>

      </div>
    </div>
  </div>

</div>
<script src="/js/dashboard-action.js"></script>
<script src="/js/comment-action.js"></script>
</body>
</html>